language: cpp
before_script:
script:
- mkdir bin
- cd bin
- cmake ../src
- make all
- make package
deploy:
  provider: script
  skip_cleanup: true
  script: curl -T ymr-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -umadmazoku:$BINTRAY_API_KEY "https://api.bintray.com/content/madmazoku/otus.lessons/28.02/$TRAVIS_BUILD_NUMBER/ymr-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1"
